body {
    text-align: center;
}
input {
    display: none;
}
#file-selector-label {
    display: block;
    margin: 40px auto;
    width: 400px;
    height: 80px;
    line-height: 80px;
    font-size: 60px;
    text-align: center;
    color: #0059f0;
    cursor: pointer;
    border: 1px solid #0faaf0;
}
#message {
    display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    text-align: center;
}
.server {
    border: 5px solid black;
    display: inline-block;
    margin: 20px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-transform: uppercase;
}